@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: Nexa Bold;
    src: url(nexa/Nexa-Trial-Bold.ttf);
}
@font-face {
    font-family: Nexa-Trial Heavy ;
    src: url(nexa/Nexa-Trial-Heavy.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* For navbar */

#ulNavbar{
    font-family: "Quicksand", sans-serif;
    margin-left: 7em;
}
#buttonNavbar{
    font-family: "Quicksand", sans-serif;
    background-color:#FE8C45;
    width: 187px;
    height: 52px;
    border-radius: 40px;
    cursor: pointer;
}
/* For Hero section */

#moments{
    width: 39%;
    height: 680px;
    /* border: 1px solid green; */
}
#slideImage{
    width: 61%;
    height: 680px;
    /* border: 1px solid rgb(128, 38, 0); */
}
#rowhalf{
    width: 100%;
    height: 250px;
}
#rowfull{
    width: 100%;
    height: 430px;
}
#momentsH1{
    color: #111111;
    font-size: 75px;
    height: 312px;
    width: 100%;
    font-family: Nexa Bold;

    & span{
        color: rgb(138, 71, 246);
    }
}
#momentsPara{
    font-family: "Quicksand", sans-serif;
}
#momentsButton{
    font-family: "Quicksand", sans-serif;
    background-color:#FE8C45;
    width: 260px;
    height: 52px;
    border-radius: 40px;
}
.carousel-image{
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
#demo{
    width: 100%;
    height: 680px;
}
/* for linear background */
#orange{
    background: linear-gradient(to bottom, rgba(255, 106, 0, 0.068), rgba(255, 165, 0, 0));
    width: 454px;
    height: 454px;
    border-radius: 50%;
    /* border: 1px solid red; */
    position: absolute;
    top: -25px;
    left: -55px;
}
#valvet{
    background: linear-gradient(to top, rgba(138, 71, 246, 0.091), rgba(138, 71, 246, 0));
    width: 454px;
    height: 454px;
    border-radius: 50%;
    /* border: 1px solid red; */
    position: absolute;
    top: 350px;
    left: -55px;

}
/* For Skilled Section */

#SkilledSection{
    width: 100%;
    height: 655px;
    background-color: #8a47f62f;
    ;
}
#skillHalf{
    width: 50%;
    height: 655px;
}
#skillFull{
    width: 50%;
    height: 655px;
    font-family: "Quicksand", sans-serif;
}

#sline{
    border: 1px solid #8A47F6;
    width: 19px;
    /* background-color: aqua; */
    position: relative;
}
#lineAbout{
    position: absolute;
    display: block;
    bottom: -148px;
    left: 700px;
    font-size: large;
    text-align: center;
}
#aboutHeader{
    font-family: Nexa-Trial Heavy ;
    width: 520px;
    height: 110px;
    font-size: 48px;

    & span{
        color: #8A47F6;
    }   
}
#aboutPara1{
    width: 594px;
    height: 161px;
    color: #333333;
    ;
}
#aboutPara2{
    width: 599px;
    height: 49px;
    color: #333333;
}
#aboutButton{
    font-family: "Quicksand", sans-serif;
    background-color:#FE8C45;
    width: 230px;
    height: 52px;
    border-radius: 40px;
}
/* For Portfolio */
#portfolioHeader{
    font-family: Nexa-Trial Heavy ;
    & span{
        color: #8A47F6;
    }
}
#linkDiv{
    font-family: "Quicksand", sans-serif;   
}
#portRow1{
    width: 100%;
    height: 530px;
}
#portRow2{
    width: 100%;
    height: 530px;
}
/* for linear portfolio section */
#orange1{
    background: linear-gradient(to bottom, rgba(255, 106, 0, 0.068), rgba(255, 165, 0, 0));
    width: 454px;
    height: 454px;
    border-radius: 50%;
    /* border: 1px solid red; */
    position: absolute;
    top: 1465px;
    right: -55px;
}
#valvet1{
    background: linear-gradient(to top, rgba(138, 71, 246, 0.091), rgba(138, 71, 246, 0));
    width: 454px;
    height: 454px;
    border-radius: 50%;
    /* border: 1px solid red; */
    position: absolute;
    top: 2465px;
    left: -55px;
}
/* For Card Section */
#cardHeader{
    font-family: Nexa-Trial Heavy;
    font-size: 35px;
}
#allCard{
    height: 417px;
}
.card-text{
    font-family: "Quicksand", sans-serif;
}

#cardButton{
    font-family: "Quicksand", sans-serif;
    background-color:#FE8C45;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
}
.card:hover {
    background-color: #000;
    border: 1px solid #ddd;
    transform: scale(1.02);
    color: aliceblue;
}